.tour_-highlight {
	background-color: #FFF;
}

.tour_-highlight:before {
	position: fixed;
	content: '';
	background-color: hsla(0, 0%, 0%, .3);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.tour_-highlight:after {
	position: absolute;
	content: '';
	background-color: hsla(0, 0%, 100%, .95);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

.animate-paragraph {
  -webkit-transform: rotate3D(0, 0, 1, 360deg);
  -webkit-transform-origin: 50%;
  -webkit-transition: all 1s;
}

.nav-border {
  border: 2px dashed #75ef87;
}

.nav_-top {
	position: fixed;
	right: 1em;
	bottom: 1em;
}
