<html ng-app="angular.tourist.demo"></html>
<head>
  <link href="/demo/css/normalize.css" media="all" rel="stylesheet" />
  <link href="/demo/css/foundation.css" media="all" rel="stylesheet" />
  <link href="/demo/css/style.css" media="all" rel="stylesheet" />
  <link href="bower_components/qtip2/jquery.qtip.css" media="all" rel="stylesheet" />
</head>
<body ng-controller="DemoCtrl">
  <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="#"> Angular Tourist Demo</a>
        </h1>
      </li>
    </ul>
    <section class="top-bar-section">
      <ul class="left">
        <li>
          <button ng-click="startTour()" ng-disabled="tourStarted">Start Tour</button>
        </li>
        <li>
          <button class="alert" ng-click="endTour()" ng-disabled="!tourStarted">End Tour</button>
        </li>
      </ul>
    </section>
  </nav>
  <div class="left">
    <ul class="side-nav" ng-class="{&#39;nav-border&#39;: navBorder}" tour-step="navigation">
      <li>
        <a href="#step1"> Step 1</a>
      </li>
      <li>
        <a href="#step2"> Step 2</a>
      </li>
      <li>
        <a href="#step3"> Step 3</a>
      </li>
      <li class="divider"></li>
      <li tour-step="exitNav">
        <a href="#exit"> Exit</a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="large-4 columns" tour-step="image">
      <img src="http://lorempixel.com/300/400/" />
    </div>
    <div class="large-4 columns" tour-content="News flash!" tour-enter="animate=true" tour-leave="animate=false" tour-step="paragraph">
      <p>
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      </p>
    </div>
    <div class="large-4 columns"></div>
  </div>
  <div class="row">
    <div class="large-12 columns">
      <p>
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      </p>
      <p>
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      </p>
      <p>
        Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsumLorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      </p>
      <img src="http://lorempixel.com/300/400/" tour-step="another-image" />
    </div>
  </div>
  <script id="angular/tour.html" type="text/ng-template">
    <div class="tour_-highlight" ng-if="$show" ng-style="$pos" position-at="$data.positionAt" position-my="$data.positionMy" reposition="$content" ui-tooltip="">
      <h4 ng-if="$data.title" style="color: red">
        {{ $data.title }}
      </h4>
      <p>
        {{ $content }}
      </p>
      <button ng-click="$previous()" ng-if="$hasPrevious()">Prev</button><button ng-click="$next()" ng-if="$hasNext()">Next</button><button ng-click="$end()" ng-if="$isLastStep()">End tour</button><small class="right">{{ $data.positionMy }}</small>
    </div>
  </script>
  <div src="angular/tour.html" tour-template=""></div>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/qtip2/jquery.qtip.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/dist/dev/module.js"></script>
  <script src="/dist/dev/step.js"></script>
  <script src="/dist/dev/tour.js"></script>
  <script src="/dist/dev/template.js"></script>
  <script src="/demo/js/demo.js"></script>
</body>
