html ng-app="angular.tourist.demo"
head
  link href="/demo/css/normalize.css" media="all" rel="stylesheet"
  link href="/demo/css/foundation.css" media="all" rel="stylesheet"
  link href="/demo/css/style.css" media="all" rel="stylesheet"
  link href="bower_components/qtip2/jquery.qtip.css" media="all" rel="stylesheet"

body ng-controller="DemoCtrl"
  nav.top-bar
    ul.title-area
      li.name
        h1
          a href="#"  Angular Tourist Demo
    section.top-bar-section
      ul.left
        li
          button ng-disabled="tourStarted" ng-click="startTour()" Start Tour
        li
          button.alert ng-disabled="!tourStarted" ng-click="endTour()" End Tour

  .left
    ul.side-nav tour-step="navigation" ng-class="{'nav-border': navBorder}"
      li
        a href="#step1"  Step 1
      li
        a href="#step2"  Step 2
      li
        a href="#step3"  Step 3
      li.divider
      li tour-step="exitNav" tour-data="{positionMy: 'bottom left', positionAt: 'right center'}"
        a href="#exit"  Exit
  .row
    .large-4.columns tour-step="image"
      img src="http://lorempixel.com/300/400/"
    .large-4.columns(
      tour-step="paragraph"
      tour-content="News flash!"
      tour-enter="animate=true"
      tour-leave="animate=false"
    )
      p
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
    .large-4.columns


  .row
    .large-12.columns
      p
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      p
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      p
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
        | Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum
      img src="http://lorempixel.com/300/400/" tour-step="another-image"

  script id="angular/tour.html" type="text/ng-template"
    div[
      ng-style="$pos"
      ng-if="$show"
      class="tour_-highlight"
      ui-tooltip=""
      reposition="$content"
      position-my="$data.positionMy"
      position-at="$data.positionAt"
    ]
      h4 ng-if="$data.title" style="color: red"
        | {{ $data.title }}
      p
        | {{ $content }}
      button ng-if="$hasPrevious()" ng-click="$previous()" Prev
      button ng-if="$hasNext()" ng-click="$next()" Next
      button ng-if="$isLastStep()" ng-click="$end()" End tour
      small.right
        | {{ $data.positionMy }}

  div tour-template="" src="angular/tour.html"

  script src="bower_components/jquery/dist/jquery.js"
  script src="bower_components/qtip2/jquery.qtip.js"
  script src="/bower_components/angular/angular.js"
  script src="/dist/dev/module.js"
  script src="/dist/dev/step.js"
  script src="/dist/dev/tour.js"
  script src="/dist/dev/template.js"
  script src="/demo/js/demo.js"
